@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Gideon Roman', cursive;
  background-image: url("../images/paper.jfif")
}

.navbar {
  background-color: #808080;
  height: 4rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
	left: 0;
	transition: height 1s;

  display: flex;
  align-items: center;
	justify-content: center;
	z-index: 1;

  background-image: url("../images/stone.jpg")
}

.navbar:hover {
  height: 5rem;
}

.navbar_nav {
  list-style-type: none;
  margin: 30px;
  width: 100vw;
	padding: 0;
	align-items: center;
  justify-content: center;
	display:flex;

}

.nav_link {
  color: white; /* make nav_bar links white */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	width: 30rem;
}

.nav_link:hover {
  filter: brightness(0);
}


.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: '5px 5px';
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}
